{% comment %}
sections/apps.liquid
{% endcomment %}

<section 
  class="global__section" 
  data-section-id="{{ section.id }}" 
  data-section-type="apps"
>
  <div class="grid__wrapper">
    <div class="span-12">
      {%- for block in section.blocks -%}
        {%- render block -%}
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Apps",
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Apps"
    }
  ]
}
{% endschema %}
